body {
	margin:  0;
	font-family: Helvetica;
	font-size: 12px;
	background: #2CA198;
}

h1 {
	color: white;
}

#logo {
	height: 70px;
	width: 210px;
	padding: 10px;
	display: block;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction:  column;
}
